@import "./variables";

body {
  margin: 0;
  font-family: "Nunito", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6, .title {
  font-family: "Nunito", sans-serif;
}

p, article, a, button, .post-body {
  font-family: "Open Sans", sans-serif;
}

.ls-1 {
  letter-spacing: 0.063rem;
}

.btn-capsule {
  border-radius: 25px;
}

hr {
  border: 1px solid #e2e3e4;
}